:root{
    --primary-color:#007BBA; 
    --secondary-color:#BCE3F8 ; 
    --accent1-color:#002C4C ; 
    --accent2-color:#6D7A88; 
    --heading-font:"Bebas Neue",sans-serif; 
    --body-font:"Open Sans",sans-serif; 
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,main,footer{
    width: 840px;
    margin: 0 auto;
}

h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,p,section,article{
    margin:16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article{
    position: absolute;
    top: 90px;
    width: 96%;
    padding: 10px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;

   
} 

.hero article img{
    float: right;
    width: 125px;
}
