*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main{
    max-width: 840px;
}


nav{
    background-color: darkblue;
    padding: 10px;
}

nav a{
    color: white;
    display:block;
    padding: 20px;
}

h1{
    color:darkblue;
    padding-left: 1rem;
}

img{
    width:150px;
    height:auto;
    border:1px solid black;
    padding:2px;
    box-shadow: 0 0 30px gray;
}

aside{
    width: 20rem;
    margin: 1rem;
    border:1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    text-align: center;
    position: relative;
}

aside img{
    width:200px;
    height:auto;
}

main img{
    width: 150px;
    height:auto;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{ 
    padding:0;
    margin:1rem;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align:center;
}

aside h2{
    color:white;
    position: absolute;
    top:95px;
    left:140px;
}

/* Class Selectors */
.box { 
    margin: 1rem; 
    border: 1px solid rgb(0 0 0 / 10%); 
    padding: 1rem; 
    background-color: #ddd; 
    color: #000; }
    
.indent{
    padding-left: 2rem;
}